configuration {
  display-drun: "Apps:";
  drun-display-format: "{icon}  {name}";
  font: "Liga SFMono Nerd 10";
  modi: "drun";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "custom-theme.rasi"